.Search{
    width: 100%;
    display: inline-flex;
    margin: 0;

}

.Search input{
    font-size: large;
    padding: 3px;
    width: 100%;
    border: 1px solid black;
}


/* GOOD & GOODS */

.Goods{
    overflow-y: scroll;
}

.Product{
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(149, 152, 156);
    padding: 0;
    background-color: aliceblue;
}

.Product_price{
    font-size: x-large;
}
.detail-info{
    margin-top: 50px;
    margin-right: 10px;
}

span{
    font-weight: bold;
}

#add_btn{

position: fixed;
bottom: 10%;
right:10%;
padding: 20px 25px;
background-color: #2196F3;
border-radius: 50%;
border:none;
}


.Modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    top:0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(245, 245, 245, 0.5);
}

.Modal form{
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10% auto;
    padding: 20px;
    width: 80%;
}


.Fill{
    width: 100%;
    padding: 0;
    font-size: x-large;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
}

.Fill label{
    width: 100%;
    margin-bottom: 10px;
}

.Fill label input{
    margin-left: 50px;
}

.Modal_Btn{
    display: flex;
    justify-content: space-between;
}

.Modal_Btn button{
    border-radius: 5px;
    border:1px solid;
    border-color:#0f607b;
    background-color:#21bff3;
    font-size: x-large;
}


.InfoModal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    top:0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #fefefe;

}